# macOS
.DS_Store
app/yarn-cache.tgz
docs
yarn-cache.tgz

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
coverage
app/node_modules
*.log
*.tgz

# Config
source-context.json